<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

.cause-bar,.recursive-periods,.amount-btns{display:none;}
#credit_card_form{display:block;}

.payment-success{
 text-align:center;
 padding:40px 0;
}

#paypaldonate{
	border: 1px solid #D8D8D8;
color: #cccccc;
font-family: roboto;
font-size: 12px;
float: left;
height: 40px;
padding: 10px 20px;
width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.about-charity-video img{
width:100% !important; height:auto !important;}

#submitBtn{margin-top:20px;}
input:focus{border: 1px solid #d8d8d8;}

.modal-open{
    overflow-y: hidden;}

.other-amount:before,.other-amount .donate-btn{font-size:16px;}
#credit_card_form .row .col-md-offset-2:nth-child(2),#credit_card_form .row .col-md-offset-2:nth-child(3),#credit_card_form .row .col-md-offset-2:nth-child(7)
{margin-left:0px;}
#credit_card_form .row .col-md-offset-2:nth-child(5){margin-left:1px;}
.credit-img{margin-top:7px;}

.single-dict_causes .post-desc{width:100%}
.inner-causes-header{
    width: 100vw;
  margin-left: calc(-50vw + 50%);
background-color: #000;
    margin-bottom: 30px;
      padding: 30px 0;
}

.inner-causes-header h1{color:#fff;}

.inner-causes-header .cause-box.donate-drop-btn:before{display:none;}
.inner-causes-header .cause-box{box-shadow:none;height: 66px; width:100%;border-radius:5px; padding: 7px 5px;}
.our-cause-img i{line-height:47px;}

.inner-causes-header .cause-box > h4{color:#fff;text-shadow:none;}
.default-header{
    z-index: 100000000;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 50%,rgba(243,243,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
    float: left;
    margin-top: 40px;
    position: relative;
    top: 0;
    width: 100%;}

#credit_card_form ~ .other-amount{display:none;}
#paypal_form{display:none;}

#sh_to_errors1{font-size:14px; color:#a43232;}
#sh_to_errors1.no-error{color:#34ac6f;}

.dataTables_length select{width:inherit;}
.slideshow p{width:100%;}
.carusal-image-thumb img{width:auto;height:auto;border:none;}
.contact-head{float:none;margin:auto;}
.other-amount{margin:30px auto 30px;}
.credit-card-options{padding:40px 60px;}
@media only screen and (max-width:767px){
  .other-amount input{margin:5px !important;}
  .donate-popup{display:block;}
  .other-amount{float:none;}
  .credit-card-options{padding:25px 8px;}
  .popup-heading{font-size:28px;}
}

@media only screen and (max-width:440px){
  .donate-popup{width:92%;}
}
.amount-field{float:none;margin:auto;}
.other-amount.paypal{width:80%;margin:auto;}
.other-amount.card{width:100%;}
.credit-img{margin-top:0px;}

.total-amount{ padding: 20px 20px;
    text-align: center;
    background-color: #337ab7;
  border-radius:4px;
  color:#fff;
}
.total-stripe{background-color: #5cb85c;}
.total-pay{margin-top:20px;margin-bottom:30px;background-color: #f0ad4e;}
.filters{padding-bottom:80px;}
#example_wrapper{margin-bottom:30px;}

.terms-service p,.privacy-policy p{margin:20px 0;text-align:justify;}
.privacy-policy h4{font-style:italic; margin: 20px 0;}

.org-logo,.cause-content{float:left;}
.cause-content{margin-left:20px;}

.pay-details{margin-top:170px;}</style>
<!-- end Simple Custom CSS and JS -->
